<h2>Comment</h2>

<p>
	Name <%= comment.name %>
</p>
<p>
	Comment	<%= comment.comment %>
</p>
<p>
	Email <%= comment.email %>
</p>
<p>
	Rating <%= comment.rating %>
</p>	

 <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>