<h2>Chocolate</h2>
<p>
	<%= @chocolate.name %>
</p>
<p>
	<%= @chocolate.description %>
</p>
<p>
	Brand:	<%= @chocolate.brand %>
</p>
<p>
	Cocoa Percentage <%= @chocolate.cocoa_percentage %>
	&#37;
</p>	


<div id="chocolates">
  <%= image_tag @chocolate.image %>
    <div class="chocolate">
      <%= image_tag painting.image_url.to_s %>
      <div class="name"><%= chocolate.name %></div>
    </div>
  <% end %>
  <div class="clear"></div>
</div>

<%= render @chocolate.comments %>

<%= form_for ([@chocolate, @chocolate.comments.build]) do |f| %>
	<%= render 'comments/fields', f: f %>


	<div class='actions'>
		<%= f.submit 'Add your comment' %>
	</div>

<% end %>

<%= link_to 'Edit', edit_chocolate_path(@chocolate) %>
<%= link_to 'Destroy', @chocolate, method: :delete, data: { confirm: 'Are you sure?' } %>
